<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.shopping.mapper.IOrderMapper">

        <select id="selectOrderByUser" parameterType="Integer" resultMap="orderMapper">
            select * from sys_order
            <where>
                <if test="userid!=null">
                    user_id=#{userid}
                </if>
            </where>
        </select>
        <resultMap id="orderMapper" type="Order">
            <result property="id" column="id"/>
            <result property="no" column="no"/>
            <result property="price" column="price"/>
            <result property="userid" column="user_id"/>
        </resultMap>

    <!-- 生成订单信息  -->
    <insert id="insertOrder" parameterType="Order" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
          insert into
		      sys_order(no, price, user_id)
		  values
			  (#{no}, #{price}, #{user.userId})
     </insert>

    <select id="selectOrderByNo" parameterType="String">
        select * from sys_order
        where no =#{no}
    </select>


</mapper>